#searchCriteria {
	width: 250px;
}

.features {
	width: 100%;
}

.pageContent {
	min-height: 900px;
}

.featuresRightCol {
	text-align: left;
}

td {
	font-size: 20px;
}

.ui-button-text {
	font-size: 12px !important;
	padding-top: 0px;
	padding-bottom: 0px;
}